$blue_header: #163584;
$blue_footer: #294CA3;
$blue_link: #0F2347;

@font-face {
	font-family:"Caribbean Island";
	src:url("../fonts/Caribbean_Island.eot?") format("eot"),
	    url("../fonts/Caribbean_Island.woff") format("woff"),
	    url("../fonts/Caribbean_Island.ttf") format("truetype"),
	    url("../fonts/Caribbean_Island.svg#CarribeanIsland") format("svg");
	font-weight:normal;
	font-style:normal;
}


html {
	background-image: url(../img/fond.jpg);
	background-color: black;
	background-repeat: no-repeat;
	font-family: "Comic Sans MS";
}

body {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
}

h1 {
	font-size: 100px;
	font-family:"Caribbean Island";
}

h2 {
	font-size: 50px;
	font-family:"Caribbean Island";
}

/* Début en-tête */
header {
	background-color: $blue_header;
	color: white;
	margin: 0;
}

header > h1 {
	text-align: center;
	margin:0;
	padding: 10px;
}

header > h1 > a {
	color: white;
}

header > nav > a {
	color: white;
	width:150px;
	text-align: center;
	height:30px;
}

header > nav > a:hover {
	background-color: $blue_link;
}

header > nav > form {
	float: right;
	margin-right: 10px;
	background-color: $blue_header;
}

header > nav > form > input[type="text"] {
	background-color: $blue_link;
	color:white;
	border-radius: 15px 0 0 15px;
	border: 2px solid $blue_link;
	padding: 2px 0 2px 10px;
	width: 250px;
	height:25px;
}

header > nav > form > button[type="submit"] {
	border-radius: 0 50% 50% 0;
	margin:0 0 0 -5px;
	padding:6px 6px 6px 4px;
	color: white; 
	background-color: $blue_link;
	border: 2px solid $blue_link;
	cursor: pointer;}
/* Fin en-tête */

a {
	color: $blue_link;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}

#mur, #film {
	max-width:1700px;
	margin: auto;
}

#mur_film {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: auto;
}

#film > img {
	width: 25%;
	vertical-align: top;
}


#film > article > a {
	color: white;
	text-decoration: none;
	background-color: $blue_link;
}

.affiche {
	text-align : center;
}

.affiche > img {
	width: 95%;
	height: 380px;
	margin-bottom: 15px; 
}

.affiche > a > img {
	width: 95%;
	height: 380px;
	margin-bottom: 15px; 
}

/* Début pied de page */
footer {
	background-color: $blue_footer;
}

footer > p {
	margin:0;
	font-style: italic;
	color: white;
	text-align: center;
	padding: 10px;
}
/* Fin pied de page */

@media (max-width: 767px) {
	h1 {
		font-size: 50px;
		padding: 0;
		position: fixed;
		background-color: $blue_header;
		width: 100%;
		z-index: 1000;
	}

	h2 {
		margin-top: 55px;
		margin-bottom: 0px;
		text-align:center;
		font-size: 40px;
	}

	header > nav {
		padding-top:65px;
	}

	header > nav > a {
		width: 100%;
	}

	header > nav > a:first-child {
		visibility: hidden;
		height: 0px;
		margin:0;
		padding:0;
	}

	header > nav > form {
		background-color: $blue_header;
		width:100%;
		margin:0;
		text-align: center;
	}

	header > nav > form > input {
		margin-bottom: 10px;
	}
	
	#film > img {
		width: 100%;
	}

	#film > article > p,  {
		margin: 10px;
	}

	#film > article > a {
		color: white;
		width:100%;
		text-align: center;
		height:30px;
		background-color: $blue_footer;
		margin-left: -10px;
	}

	#film > article > a:hover {
		background-color: $blue_link;
	}
}